<div class="mfe">
  <div class="row">
    <div class="col">
      <p>Première page de mon funnel (mfe1)</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              routerLink="../page1"
              routerLinkActive="active"
            >1</a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              routerLink="../page2"
              routerLinkActive="active"
            >2</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
